*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
} //取消默认样式

a {
  text-decoration: none;
  color: inherit;
} //取消下划线和紫色
html,
body {
  height: 100%;
}
button,
input {
  font: inherit;
} //字体继承
